.qualities-list {
  display: flex;
  & li {
    width: 270px;
  }
  & li + li {
    margin-left: 30px;
  }
  &__title {
    margin-top: 30px;
    @include font(700, 14px, 1.14, null);
    text-transform: uppercase;
  }
  &__text {
    @include font(null, 14px, 1.71, null);

    color: var(--brand-color-text);
    margin-top: 10px;
  }
  &__icon-box {
    @include flexCentr();
    height: 120px;
    border-radius: 4px;
    background-color: var(--fone-svg-img);
  }
}

.section--padding {
  padding-bottom: 0;
}
