.soc-list__footer-box {
  margin-top: 20px;
}

.footer__subs-form {
  margin-left: 93px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
  background-color: var(--brand-color-hero-footer);
  &__box {
    display: flex;
  }
  &__address {
    margin-top: 20px;
    @include font(null, 14px, 1.71, null);
    font-style: normal;
    color: var(--brand-color_6);
  }
  &__contact {
    display: block;
    margin-top: 9px;
    @include font(null, 14px, 1.71, null);
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
  &__icon-box {
    margin-left: 70px;
  }
  &__text {
    display: block;
    @include font(700, 14px, 1.14, null);
    text-transform: uppercase;
    color: var(--brand-color_6);
  }
  &__icon {
    fill: var(--brand-color_6);
  }
}
